@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/container-queries';

@font-face {
  font-family: "Comic Mono";
  src: url("/ComicMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comic Mono";
  src: url("/ComicMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: Comic Mono, monospace;
  --font-serif: Comic Mono, monospace;
  --font-mono: Comic Mono, monospace;
}

::placeholder {
  @apply text-stone-600;
}

button {
  @apply cursor-pointer;
}

body {
  @apply bg-stone-900 text-stone-50;
}

input {
  @apply border-none bg-stone-800/50 focus:bg-stone-800 focus:ring-0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
